@{
    ViewBag.Title = "Roloway Expense Manager Home Page";
}

<div class="jumbotron">
    <h1>Roloway Expense Manager</h1>
    <p class="lead">Roloway Expense Manager is a free web application for tracking your expenses.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test Application</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Please register or login to continue.</h2>
    </div>
</div>